#ksiazka {
    width: 900px;
    height: 500px;
    background-color: brown;
    margin: auto;
    text-align: center;
    color: white;
    padding: 10px;

}
h1 {
    margin-bottom: 100px;
}